<h1>New Bookshelf</h1>

<% if @shelf.errors.any? %>
  <div class='error'>
    <ul>
      <% @shelf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @shelf, url: shelves_path do |f| %>

  <div class='field'>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
