<h1>New Book</h1>

<% if @book.errors.any? %>
  <div class='error'>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @book, url: shelf_books_path(@shelf) do |f| %>

  <div class='field'>
    <%= f.label :name, 'Book Name' %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :isbn, 'ISBN' %>
    <%= f.text_field :isbn %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
